body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: "nav main";

  justify-content: center;

  font-family: "Muli", sans-serif;
}

main {
  grid-area: main;
  padding: 2em;
  max-width: 800px;
}

nav {
  grid-area: nav;
  padding: 2em;
  min-width: 300px;
  justify-self: right;

  /* Make the navigation sticky */
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-style: monospace;
}

a {
  color: inherit;
}

pre {
  overflow-x: auto;
  background: #f1f1f1;
  padding: 1em 20px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body {
    display: block;
    padding: 2em;
  }
  nav {
    position: relative;
    height: auto;
    padding: 0;
  }
  main {
    max-width: 100%;
    padding: 0;
  }
}
