<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="/static/main.css" />
<link
  href="https://fonts.googleapis.com/css?family=Muli:200,200i,400,400i,700,700i"
  rel="stylesheet"
/>

{% comment %} 
    The seo plugin takes care of generating title tags etc. 
{% endcomment %} 
{% seo %}
