body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";

  justify-content: center;

  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #c11c1c;

  background: #fdcbc3;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 2em;
  max-width: 800px;
}

nav {
  grid-area: nav;
  padding: 2em;
  min-width: 300px;
  justify-self: right;

  /* Make the navigation sticky */
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

footer {
  grid-area: footer;
}

h1 {
  text-align: left;
  margin: 0px;
  font-size: 3rem;
  line-height: 3.1rem;
  font-style: monospace;
}

h2 {
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  margin-left: -1.5px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 2px;
}

a {
  color: inherit;
}

pre {
  overflow-x: auto;
  background: #fddbd4;
  padding: 1em 20px;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.3em;
}

@media only screen and (max-width: 1440px) {
  body {
    display: block;
    padding: 2em;
  }
  nav {
    position: relative;
    height: auto;
    padding: 0;
  }
  main {
    max-width: 100%;
    padding: 0;
  }
}
